@page
@model PrimoProgettoTassoneApp.Pages.RispostaModel
@{
}
<html>
<body>
    <h1>Risposta, nea</h1>
    <p>Il testo scritto dall'utente @Model.Cognome @Model.Nome è <b>@Model.Testo</b></p>
</body>
</html> 